.wrapper {
    padding: 20px;
    margin: 15px 0;
}

textarea {
    font-size: 20px;
    width: 100%;
}

#cyper_query_button_component button {
    margin: 15px 0;
    margin-right: 5px;
}

.valid-query {
    border: 2px solid green;
}
.invalid-query {
    border: 2px solid red;
}