{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@geoarrow/deck.gl-layers@0/dist/dist.umd.min.js"></script>
    <script src="https://unpkg.com/maplibre-gl@3.0.0/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@3.0.0/dist/maplibre-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/nodeId_table_styling.css' %}">
    <link rel="stylesheet" href="{% static 'css/single_node_table_styling.css' %}">
    <link rel="stylesheet" href="{% static 'css/minio_objects_table_styling.css' %}">
    <script src="{% static 'news_articles/js/news_articles_leaflet_json.js' %}"></script>
{% endblock scripts %}


{% block main %}

    <textarea
        style="width: 100%; height: 200px;"
        type="text" 
        name="inputText"
        hx-post={% url 'htmx-generate_nodes_table' %}
        hx-target="#nodeIdTable"
        hx-trigger="load,keyup changed delay:1000ms">
MATCH (n:Entity:Article:Trinidad)
RETURN 
n.id AS nodeId,
labels(n) AS nodeLabels,
EXISTS { MATCH (n)-[:SPATIAL_LABEL]-() } AS hasSpatialRelationship
LIMIT 10
    </textarea>

    <div id="nodeIdTable" style="margin-top: 2rem;"></div>

    <style>
        #container {
            display: flex; /* Use flexbox layout */
            justify-content: space-between; /* Add space between the two divs */
            align-items: flex-start; /* Align items at the top */
            width: 100%; /* Full screen width */
            box-sizing: border-box;
        }
    </style>
    <div id="container">
        <div id="unique_node_attrs_table" style="padding-top: 6rem;"></div>
    </div>

    <style>
        #news_articles_deckgl_component {
            width: 99%;
            height: 700px; /* Adjust this height */
            margin: 1rem;
            border: 1px solid #000000;
        }
    </style>

    <div style="margin-top: 1rem;">
        <label for="rendered_spatial_dataset_search">Pan To Spatial Search:</label>
        <input 
            type="text" 
            name="rendered_spatial_dataset_search" 
            id="rendered_spatial_dataset_search" 
            list="rendered_spatial_dataset_search_datalist"
        />
        <datalist id="rendered_spatial_dataset_search_datalist"></datalist>
    </div>
    {{ stream_spatial_parquet_url|json_script:'stream_spatial_parquet_url'}}
    {{ layers_config|json_script:'tt_news_article_layers'}}
    {{ render_news_article_labeling_component_url|json_script:'render_news_article_labeling_component_url'}}
    {% csrf_token %}

    <div style="display: flex; height: 70vh; flex-direction: row;">
        <div id="news_articles_deckgl_component" style="flex: 1; padding-top: 1.5rem;"></div>
        <div id="news_articles_label_output_component" style="flex: 1; padding-top: 0.75rem;"></div>
    </div>

    <div id="neo4j_query_response_output">

    </div>

{% endblock main %}