.static_spatial_files_container {
    border: 2px solid black;
    width: 60%; 
    max-width: 100%; 
    margin-top: 7rem;
    height: 100%;
}

.static_file_search_box {
    padding: 1rem
}

.static_file_search_box input {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.static_file_bucket_selection {
    padding: 1rem;
}